<div class="container"><h1>My Tasks</h1>

    <% @tasks.each do |task| %>

      <% if task.completed == true %>
        <div><i class="fas fa-check-square"></i><%= link_to task.title, task_path(task.id) %> <%= link_to "Destroy", task_path(task.id), method: :delete %></div>
      <% else %>
        <div><%= "O" %> <%= link_to task.title, task_path(task.id) %> <%= link_to "Destroy", task_path(task.id), method: :delete %>

        </div>
      <% end %>

  <% end %>
  <br>
<%= link_to "Add a new task", new_task_path %>
</div>


